<?xml version="1.0"?>
<appSettings>
  <!--Before you get started, your application must have been registered with Saxo Bank A/S and you must have received the below settings.-->
  <AppKey>#application_key#</AppKey>
  <AppSecret>#application_secret#</AppSecret>
  <AppUrl>http://localhost/PHPSampleAuth</AppUrl>
  <AuthenticationUrl>https://sim.logonvalidation.net</AuthenticationUrl>
  <OpenApiBaseUrl>https://gateway.saxobank.com/sim/openapi</OpenApiBaseUrl>
</appSettings>
  